.lineChild {
  background-color: transparent;
  height: auto;
  overflow: hidden;
  padding-right: 0.19375rem;
}

.t__wrap.second {
  position: fixed; 
  width: 100%;
  left: 0%;
  top:0%;
  bottom: auto;
  z-index: 3;
}
.t__wrap.first { 
  z-index: 1;
}



 
 
 
